.activity{
    background: #ececec;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    box-shadow: 0 0.3rem 0 0 #c6c6c6;
    border-radius: 0.3rem;
}

.activity__label{
    font-size: 90%;
    background: #389237;
    width: max-content;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    color: #eee;
    font-weight: 400;
}